{% extends 'layout.twig' %}

{% block body %}
<div id="jqplr"></div>
    <table cellspacing="0" cellpadding="0" class="striped sortable">
        <thead>
            <tr>
                <th>Genre</th>
                <th>Artist</th>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {% for item in list %}
            <tr>
                <td>{{ item.genre }}</td>
                <td>{{ item.artist }}</td>
                <td>{{ item.title }}</td>
                <td><a href="{{ item.aurl }}" class="clip button small"><i class="icon-play"></i></a></td>
            </tr>
    {% endfor %}
            </tbody>
        </table>
{% endblock %}
